:root {
  --accent-orange: #FF9600;
  --dark-orange: #784B00;
  --light-orange: #FFF7E8;
  --tinted-white: rgba(255, 255, 255, 0.6);

  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;

  --keyboard-height: 200px;
  --max-keyboard-width: 600px;
  --game-max-width: 500px;

  --color-correct: #538d4e;
  --color-present: #b59f3b;
  --color-absent: #3a3a3c;
  --color-bg: #121213;
  --key-bg-correct: var(--color-correct);
  --key-bg-present: var(--color-present);
  --key-bg-absent: var(--color-absent);
  --key-bg: #818384;
}
.accent-orange {
  color: var(--accent-orange);
}
.dark-orange {
  color: var(--dark-orange);
}
.light-orange {
  color: var(--light-orange);
}
.tinted-white {
  color: var(--tinted-white);
}
.CHAR_CORRECT {background-color: var(--color-correct); border: 2px solid var(--color-correct);}
.CHAR_PRESENT {background-color: var(--color-present); border: 2px solid var(--color-present);}
.CHAR_ABSENT {background-color: var(--color-absent); border: 2px solid var(--color-absent);}
.CHAR_DEFAULT {background-color: var(--color-bg); border: 2px solid #3a3a3c;}
.KEY_CORRECT {background-color: var(--key-bg-correct);}
.KEY_PRESENT {background-color: var(--key-bg-present);}
.KEY_ABSENT {background-color: var(--key-bg-absent);}
.KEY_DEFAULT {background-color: var(--key-bg);}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v120/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--accent-orange);
}
.uppercase {
  text-transform: uppercase;
}

.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #121213;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App-header {
  height: calc(100 * var(--vh, 1vh));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-header2 {
  height: calc(100 * var(--vh, 1vh) - var(--keyboard-height));
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notification {
  position: absolute;
  top: 10px;
  background-color: white;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 4px;
  font-size: calc(8px + 1.3vmin);
  color: var(--color-bg);
}

.click-to-continue {
  color: #fff;
  text-shadow:
    0 0 6px #fff,
    0 0 21px var(--accent-orange),
    0 0 41px var(--accent-orange),
    0 0 46px var(--accent-orange),
    0 0 75px var(--accent-orange);
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
}
.grid-row > div {
  min-height: calc(25px + 4vmax);
  min-width: calc(25px + 4vmax);
  font-size: calc(10px + 2vmax);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 7px;
  height: calc(var(--keyboard-height) - 10px);
  width: min(100vw - 10px, 550px);
  padding-bottom: 10px;
}
.keyboard-x {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--keyboard-height);
  width: min(100vw - 10px, 550px);
}
.keyboard-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 7px;
}
.keyboard-row > div {
  flex: 1;
  font-size: calc(8px + 0.8vmax);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.keyboard-row > div:not(.space):hover {
  cursor: pointer;
}
.keyboard-row > div:not(.space):active {
  filter: brightness(70%);
}
.keyboard-row > div.space {
  flex: 0.5;
}
.keyboard-row > div.action {
  flex: 1.6;
}
